@model OrderDetailsViewModel
@{
ViewData["Title"] = "Details";
}

<div class="content-padder">
    <div class="m-3">
        <table class="table table-striped table-bordered table-sm">
            <tr>
                <th>ID</th>
                <th>Created Date</th>
                <th>ProductId</th>
                <th class="text-right">Quantity</th>
                <th class="text-center">UnitPrice</th>
            </tr>
            @foreach (var orderItem in Model.Items)
            {
                <tr>
                    <td class="text-right">@orderItem.OrderItemId</td>
                    <td>@orderItem.CreationDate</td>
                    <td class="text-center">@orderItem.ProductId</td>
                    <td class="text-right">@orderItem.Quantity</td>
                    <td class="text-center">@orderItem.UnitPrice.ToString()</td>
                </tr>
            }
            <tfoot>
                <tr>
                    <th scope="row" colspan="4">Total:</th>
                    <td class="text-center"><strong>@Model.Order.OrderTotal.ToString()</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="text-left m-2">
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </div>
</div>
