@model OrderViewModel
@inject IAuthenticationSchemeProvider schemeProvider

@{ 
	var res = await schemeProvider.GetSchemeAsync("Google");
	var res2 = await schemeProvider.GetDefaultAuthenticateSchemeAsync();
}

@{
	ViewData["Title"] = "Order";
}

<div class="card" id="shipping-address">
	<div class="card-header">
		<span class="fas fa-shipping-fast mx-2"></span>
		<span>Shipping address</span>
	</div>
	<div class="card-body">
		@if (Model.ValidationErrors.Any())
		{
			<div class="message-warnings">
				<ul>
					@foreach (var error in Model.ValidationErrors)
					{
						<li>@error</li>
					}
				</ul>
			</div>
		}
		<div class="col-md-12">
			<form asp-action="AddOrder" method="post" class="form-horizontal" id="order_form">
				<div class="row">
					<div class="col-md-6 mb-3">
						@Html.LabelFor(x => x.FirstName)
						@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First Name", name = "first_name" })
					</div>

					<div class="col-md-6 mb-3">
						@Html.LabelFor(x => x.LastName)
						@Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last Name" })
					</div>
				</div>
				<div class="mb-3">
					@Html.LabelFor(x => x.CustomerEmail)
					@Html.TextBoxFor(x => x.CustomerEmail, new { @class = "form-control", placeholder = "Email", type = "email" })
				</div>

				<div class="mb-3">
					@Html.LabelFor(x => x.Address1)
					@Html.TextBoxFor(x => x.Address1, new { @class = "form-control", placeholder = "Address 1" })
				</div>
				<div class="mb-3">
					@Html.LabelFor(x => x.Address2)
					@Html.TextBoxFor(x => x.Address2, new { @class = "form-control", placeholder = "Address 2" })
				</div>

				<div class="row mb-3">
					<div class="col-md-4">
						@Html.LabelFor(x => x.PhoneNumber)
						@Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number 1" })
					</div>
					<div class="col-md-4">
						@Html.LabelFor(x => x.PhoneNumber2)
						@Html.TextBoxFor(x => x.PhoneNumber2, new { @class = "form-control", placeholder = "Phone Number 2" })
					</div>
					<div class="col-md-4">
						@Html.LabelFor(x => x.ZipCode)
						@Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", placeholder = "ZIP Code" })
					</div>
				</div>
				<hr class="mb-3">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Continue" />
			</form>
		</div>
	</div>
</div>



