@model DiscountViewModel

@{
    ViewBag.Title = "Edit Discount";
}

<div class="content-padder">
    <div class="m-3">
            @if (Model != null && Model.Errors.Any())
            {
                <div class="message-warnings">
                    <ul>
                        @foreach (var error in Model.Errors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }
                <form asp-action="Edit" method="post" id="edit-discount" >
                    @Html.HiddenFor(x => x.DiscountId)
                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @readonly = "readonly" })
                    <div class="form-group">
                        @Html.LabelFor(x => x.OldPrice)
                        @Html.TextBoxFor(x => x.OldPrice, new { @class = "form-control", placeholder = "Old Price", name = "old_price" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.NewPrice)
                        @Html.TextBoxFor(x => x.NewPrice, new { @class = "form-control", placeholder = "New Price", name = "new_price" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.ExpireDate)
                        @Html.TextBoxFor(x => x.ExpireDate, new { @class = "form-control", placeholder = "Expire Date", name = "expire_date" })
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <a asp-action="Index" asp-area="Admin" asp-controller="Discount"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
        </div>
    </div>
